<h3 class="sidebar-title">Blog Categories</h3>
<div id="blog-categories">
    <ul class="list-group">
        {% for category in site.categories %}
            <li class="list-group-item">
                <b>{{ category | first }}</b>
                <span class="badge">{{ category[1].size }}</span>
            </li>
        {% endfor %}
    </ul>

</div>
<script type="text/javascript">

    $(document).ready(function(){
        $("#blog-categories li").css('text-transform','capitalize');

        if ( $(".list-group-item b").eq(0).html() == 'java'){
            $(".list-group-item b").eq(0).html("<a href='/java-blog'>java</a>");
        }
    });

</script>